<div class="container">
  <div class="content">
    <section class="section">

      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field">
          <label class="label">Email</label>
          <div class="control"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-info" %></div>
        </div>

        <div class="field">
          <label class="label">Password
            <% if @minimum_password_length %>
              <small><em>(<%= @minimum_password_length %> characters minimum)</em></small>
            <% end %></label>
          <div class="control"><%= f.password_field :password, autocomplete: "new-password", class: "input is-info" %></div>
        </div>

        <div class="field">
          <label class="label">Password confirmation</label>
          <div class="control"><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-info" %></div>
        </div>

        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="actions">
          <%= f.submit "Sign up", class: "button is-primary" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </section>
  </div>
</div>