<div id="<%= dom_id config %>">
  <p>
    <strong>Slack api key:</strong>
    <%= config.slack_api_key %>
  </p>

  <p>
    <strong>Discord api key:</strong>
    <%= config.discord_api_key %>
  </p>

  <p>
    <strong>Slack relax channel:</strong>
    <%= config.slack_relax_channel %>
  </p>

  <p>
    <strong>Discord relax channel:</strong>
    <%= config.discord_relax_channel %>
  </p>

</div>
