<%= form_with(model: config) do |form| %>
  <% if config.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(config.errors.count, "error") %> prohibited this config from being saved:</h2>

      <ul>
        <% config.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :slack_api_key, style: "display: block" %>
    <%= form.text_field :slack_api_key %>
  </div>

  <div>
    <%= form.label :discord_api_key, style: "display: block" %>
    <%= form.text_field :discord_api_key %>
  </div>

  <div>
    <%= form.label :slack_relax_channel, style: "display: block" %>
    <%= form.text_field :slack_relax_channel %>
  </div>

  <div>
    <%= form.label :discord_relax_channel, style: "display: block" %>
    <%= form.text_field :discord_relax_channel %>
  </div>

  <div>
    <%= form.label :open_ai_secret, style: "display: block" %>
    <%= form.text_field :open_ai_secret %>
  </div>

  <div>
    <%= form.label :event_coffee_1_enabled, style: "display: block" %>
    <%= form.check_box :event_coffee_1_enabled %>
  </div>

  <div>
    <%= form.label :event_coffee_1_time, style: "display: block" %>
    <%= form.time_field :event_coffee_1_time %>
    <%= @config.event_coffee_1_time %>

  </div>

  <div>
    <%= form.label :event_coffee_2_enabled, style: "display: block" %>
    <%= form.check_box :event_coffee_2_enabled %>
  </div>

  <div>
    <%= form.label :event_coffee_2_time, style: "display: block" %>
    <%= form.time_field :event_coffee_2_time %>
  </div>

  <div>
    <%= form.label :event_lunch_enabled, style: "display: block" %>
    <%= form.check_box :event_lunch_enabled %>
  </div>

  <div>
    <%= form.label :event_lunch_time, style: "display: block" %>
    <%= form.time_field :event_lunch_time %>
  </div>

  <div>
    <%= form.label :event_walk_enabled, style: "display: block" %>
    <%= form.check_box :event_walk_enabled %>
  </div>

  <div>
    <%= form.label :event_walk_time, style: "display: block" %>
    <%= form.time_field :event_walk_time %>
  </div>

  <div>
    <%= form.label :event_game_enabled, style: "display: block" %>
    <%= form.check_box :event_game_enabled %>
  </div>

  <div>
    <%= form.label :event_game_time, style: "display: block" %>
    <%= form.time_field :event_game_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
